<body>
    <div id="logindiv">
      <div>
      <h4>Join us  <br> Now</h4>
        
      </div>
      <div id="textandform">
        <div id="registrationtext">
          <h2>Register</h2>
        </div> 
        <div>
      <form id="loginform" class="log-in" autocomplete="off" [formGroup]="RegistrationForm" (ngSubmit)="onSubmit()"> 
        <label for="name">Name:</label>
          <input formControlName="name" placeholder="name" type="name" name="name" id="name" autocomplete="off">
          <label for="email">Email:</label>
          <input formControlName="email" placeholder="Email" type="email" name="email" id="email" autocomplete="off">
          <label for="password">Password:</label>
          <input formControlName="password" placeholder="Password" type="password" name="password" id="password" autocomplete="off">
          <a href="/login"class="discrete" target="_blank">Already have an account ?</a>
        
        <button type="submit" >Register</button>
      </form>
    </div></div></div>
  </body>