

<body>
  <div class="container-fluid" ng-app="myTodoApp" ng-controller="myTodoCtrl">
  <div class="container">
    <button (click)="logout()" id="logoutbutton"> Logout </button>
    <button mat-fab color="accent" matBadge="{{countnotif}}" matBadgeColor="accent" aria-label="Example icon button with a bookmark icon" [matMenuTriggerFor]="menu">  
    <mat-icon>bookmark</mat-icon>
    </button>

    <mat-menu id="mat-menu"#menu="matMenu">
      <div *ngFor="let i of notifs">
        <button mat-menu-item (click)="deletenotif(i._id)"> {{i.description}}</button>
      </div>
    </mat-menu>


    <div *ngIf="showadminbutton()">
    <button (click)="nagivatetoadmin()"> Check Admin page </button>
    </div>

<div id="todo-container"><h1>todo in angular</h1>
  <div id="hereistheinputandthebutton">
<input [(ngModel)]="name" name="todo" id="todo" type="text" placeholder="What needs to be done?"/>
<button (click)="addTodo()" class="btn" id="addbutton" >AddTodo</button>
</div>
  <div *ngFor="let e of todosList" id="todolist">
  <ul class="todo-list justify-content-unset">
  <li class="item d-flex" id="item" >
    {{ e.name }}</li>
 <button (click)="removeTodo(e._id)" class="btn" id="removebutton">remove</button>

    </ul>
</div> 
  <div *ngIf="todosList.length == 0">Your todo list is empty !</div>
  <div *ngIf="count != 0">
    <p>
      You Have : {{ count }} Todos
    </p></div>
</div>
</div>
</div>
</body>
